<div class="textcenter">
  <p class="wrong_url"><% if @search != nil %><%= @search %> is not a valid URL<% end %></p>
<form action="/url/add" method="post">
  <input class="input" type="text" name="url" placeholder="Enter the URL you would like to 'shorten'"value="<% if @search != nil %><%= @search %><% end %>"><br>
  <input class="button" type="submit" value="Shorten">
</form>
</div>