<div class="textcenter"><form action="url/add" method="post">
  <input class="input" type="text" name="url" placeholder="Enter the URL you would like to 'shorten'"><br>
  <input class="button" type="submit" value="Shorten">
</form>
</div>