<!DOCTYPE html>

<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css"/>
  <title>gSchool URL Shortener</title>
</head>
<body>
<div class="center">
  <%= yield %>
</div>
</body>
</html>