<!DOCTYPE html>

<html>
<head>
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  <title>gSchool URL Shortener</title>
</head>
<body>
<div class="center">
  <%= yield %>
</div>
</body>
</html>