html {
  font-family: 'Hammersmith One', sans-serif;
}

body {
  background-color: whitesmoke;
}

div.center {
  margin: auto;
  width: 70%;
}

div.textcenter {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input.input {
  width: 350px;
  border: 3px solid black;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
}

input.button {
  background-color: dodgerblue;
  color: ghostwhite;
  font-family: 'Impact';
  font-size: 20px;
  cursor: pointer;
  border: 3px solid black;
  box-shadow: 5px 5px 5px #888888;
  padding: 5px 15px 5px 15px;
  margin-top: 10px;
}

input.button:hover {
  background: dodgerblue;
  border: 3px solid black;
  box-shadow: 5px 5px 5px #888888;
}

input.button:active {
  background: dodgerblue;
  border: 3px solid black;
  box-shadow: 2px 2px 2px #888888;
}

span.large_text {
  color: dodgerblue;
  font-size: 25px;
}

p.wrong_url {
  color: darkred;
  font-style: bold;
  font-size: 18px;
  padding-top: 60px;
}

div.error {
  height: 100px;
}

#vanity_constraints {
  width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
}

#vanity_constraints ul {
  text-align: left;
}

table {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 200%;
  font-size: 20px;
}

p.stats {
  font-size: 20px;
}

td.label {
  width: 200px;
}